/Library
/Logs
/obj
/Build
/Temp
/Build-Release
/.vs
/Debug
/.idea/
/LocalPackages
/Assets/StreamingAssets/BuildinFiles.meta
/Assets/StreamingAssets/BuildinFiles
/Assets/Resources/BuildinFiles.meta
/Assets/Resources/BuildinFiles
/Assets/Resources/BuildInPackageConfig.asset
/Assets/Resources/BuildInPackageConfig.asset.meta
/Assets/AssetsPackage/Code/Hotfix
/*.csproj
/*.sln
/UserSettings
/Release
/Assets/HybridCLRBuildCache
/Assembly-CSharp-Editor.csproj.user
/Bundles
/Tools/FileServer/obj
/Tools/FileServer/.idea
/Tools/FileServer/.vs
/Tools/ExcelExport/ExcelExport/obj
/Tools/ExcelExport/.idea
/Tools/ExcelExport/.vs
/FileServer
/Bin
/Excel/Json
/Packages/com.thridparty-moudule.*
/HybridCLRData
