/Library
/Logs
/obj
/Build
/Temp
/Build-Release
/.vs
/copydll.bat
/Debug
/.idea/
/Assets/StreamingAssets/HotFix.dll
/update_unity_libil2cpp.bat
/Assets/HuaTuo
/*.csproj
/*.sln
/Build-Win64-2
/Build-Android2
/Build-Android-2020.3.33
/Build-Win64-2020.3.33
/Build-Win64-2021.3.1
/UserSettings/Layouts
/Build-Android-2021.3.1
/Release
/Assets/StreamingAssets
/Release-Win64
/Build-Android64
/Build-AndroidV7
/Assets/HybridCLRBuildCache
/Release-Android
/Release-Win32
/Build-WebGL
/Assembly-CSharp-Editor.csproj.user
/Build-AndroidV8
Build-Mac
/Bundles
/Tools/FileServer/obj
/Tools/FileServer/.idea
/FileServer
/Bin
/Tools/ExcelExport/ExcelExport/obj
/Tools/ExcelExport/.idea
/Excel/Json
/Assets/Modules/
/Packages/com.thridparty-moudule.*
/ProjectSettings/ProjectVersion.txt
/ProjectSettings/ProjectSettings.asset
